.player{

background:white;

padding:35px;

border-radius:25px;

box-shadow:0 10px 25px rgba(0,0,0,.05);

text-align:center;

margin-bottom:40px;

}

.player img{

width:250px;

height:250px;

border-radius:20px;

object-fit:cover;

margin-bottom:20px;

}

.player h2{

margin-bottom:10px;

}

.player p{

color:#777;

margin-bottom:25px;

}

.player audio{

width:100%;

margin-bottom:25px;

}

.button-group{

display:flex;

justify-content:center;

gap:20px;

}

.button-group button{

width:65px;

height:65px;

border:none;

border-radius:50%;

background:#2563eb;

color:white;

font-size:22px;

cursor:pointer;

transition:.3s;

}

.button-group button:hover{

background:#1d4ed8;

}

.judul{

margin-bottom:25px;

}

.audio-list{

display:flex;

flex-direction:column;

gap:20px;

}

.audio-card{

display:flex;

align-items:center;

justify-content:space-between;

background:white;

padding:20px;

border-radius:18px;

box-shadow:0 8px 20px rgba(0,0,0,.05);

}

.audio-card img{

width:90px;

height:90px;

border-radius:15px;

object-fit:cover;

margin-right:20px;

}

.audio-card div{

flex:1;

}

.audio-card button{

background:#2563eb;

color:white;

border:none;

padding:12px 25px;

border-radius:10px;

cursor:pointer;

}

.audio-card button:hover{

background:#1d4ed8;

}

@media(max-width:768px){

.audio-card{

flex-direction:column;

text-align:center;

gap:20px;

}

.audio-card img{

margin-right:0;

}

}