*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:Poppins,sans-serif;

}

body{

background:#eef4ff;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

}

.container{

width:1200px;

height:700px;

background:white;

border-radius:25px;

overflow:hidden;

display:flex;

box-shadow:0 15px 40px rgba(0,0,0,.08);

}

.left{

width:50%;

background:linear-gradient(135deg,#2563eb,#4f46e5);

color:white;

display:flex;

justify-content:center;

align-items:center;

padding:60px;

}

.overlay{

text-align:center;

}

.overlay h1{

font-size:48px;

margin-bottom:20px;

}

.overlay p{

line-height:1.8;

margin-bottom:40px;

}

.overlay img{

width:80%;

}

.right{

width:50%;

display:flex;

justify-content:center;

align-items:center;

}

.login-box{

width:420px;

}

.login-box h2{

font-size:36px;

margin-bottom:10px;

}

.login-box p{

color:#777;

margin-bottom:30px;

}

.input-box{

display:flex;

align-items:center;

border:1px solid #ddd;

padding:16px;

border-radius:12px;

margin-bottom:20px;

}

.input-box i{

color:#2563eb;

margin-right:15px;

}

.input-box input{

border:none;

outline:none;

width:100%;

font-size:16px;

}

.login-btn{

width:100%;

padding:16px;

border:none;

background:#2563eb;

color:white;

font-size:18px;

border-radius:12px;

cursor:pointer;

transition:.3s;

}

.login-btn:hover{

background:#1d4ed8;

}

.line{

margin:35px 0;

text-align:center;

position:relative;

}

.line span{

background:white;

padding:0 20px;

position:relative;

z-index:2;

color:#666;

}

.line::before{

content:"";

position:absolute;

top:50%;

left:0;

width:100%;

height:1px;

background:#ddd;

}

.role{

display:flex;

gap:20px;

}

.role a{

flex:1;

text-align:center;

padding:18px;

text-decoration:none;

border-radius:12px;

font-weight:600;

transition:.3s;

}

.guru{

background:#2563eb;

color:white;

}

.siswa{

background:#22c55e;

color:white;

}

.role a:hover{

transform:translateY(-5px);

}

.footer{

margin-top:40px;

text-align:center;

color:#999;

}

@media(max-width:900px){

.left{

display:none;

}

.right{

width:100%;

}

.container{

width:95%;

}

}