.video-player{

background:white;

padding:30px;

border-radius:20px;

box-shadow:0 10px 25px rgba(0,0,0,.06);

margin-bottom:40px;

}

video{

width:100%;

border-radius:15px;

margin-bottom:20px;

}

.video-player h2{

margin-bottom:10px;

}

.video-player p{

color:#777;

}

.playlist-title{

margin-bottom:25px;

}

.playlist{

display:flex;

flex-direction:column;

gap:20px;

}

.video-card{

display:flex;

align-items:center;

gap:20px;

background:white;

padding:20px;

border-radius:18px;

box-shadow:0 10px 25px rgba(0,0,0,.05);

cursor:pointer;

transition:.3s;

}

.video-card:hover{

transform:translateY(-5px);

}

.video-card img{

width:180px;

height:100px;

object-fit:cover;

border-radius:12px;

}

.video-card p{

color:#777;

}